<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Basic with analyzer bugs excluded" Description=" " ToolsVersion="15.0">
  <Include Path="basic.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1823" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8019" Action="None" />
  </Rules>
</RuleSet>